<html>
  <head>
    <meta charset="utf-8">
    <title>SplashScreen</title>
    <link rel="stylesheet" href="/style/granular.css">
  </head>
  <body>
    <div style="color:white;text-decoration:none;position:abasolute;bottom:0;right:0"><div ><strong>ARIZONAS CHILDREN ASSOCIATION</strong></div>Tucson AZ 85714<br /><strong>EIN:</strong>860096772</div>
    <a style="color:white;text-decoration:none " href=“https://donate.firstgiving.com” >Donate Now</a>

  <div id="loginUI" class="edges-strong" style="display : block">
    <form class="form" action="/login" method="POST">
      <h2>LOGIN <br/><i><%= msg %></i></h2>
      <input name="email" type="text" placeholder="email"></input>
      <input name="password" type="text" placeholder="password"></input>
      <input type="submit" placeholder="" value="Login"></input>
      <i class="color-white text-right" style="width:100%;margin-right:10px">not a user? signup</i>
    </form>
  </div>
  </body>
</html>
